@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  background-color: black;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: sticky !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  border: 2px solid white;
  padding-top: 0;
  z-index: 1;
}

li {
  background-color: rgba(255, 255, 255, 0.22);
  font-weight: bolder;
  display: inline;
  padding: 8px;
  text-decoration: none;
}

a {
  text-decoration: none;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: width 0.35s;
}

a:hover:before {
  width: 100%;
}

.sprites {
  margin-left: 50px;
  display: flex;
}
.spotify {
  background: url("../images/sprites.png") no-repeat -866px -132px;
  width: 64px;
  height: 64px;
  margin: 5px;
  transform: scale(0.8);
}

.spotify:hover {
  background: url("../images/sprites.png") no-repeat -854px -264px;
  width: 84px;
  height: 65px;
}

.applemusic {
  margin-top: 15px;
  background: url("../images/sprites.png") no-repeat -968px -135px;
  width: 57px;
  height: 58px;
  margin: 5px;
  transform: scale(0.8);
}

.applemusic:hover {
  background: url("../images/sprites.png") no-repeat -959px -268px;
  width: 81px;
  height: 57px;
}

.youtube {
  background: url("../images/sprites.png") no-repeat -764px -139px;
  width: 71px;
  height: 50px;
  margin-top: 10px;
  transform: scale(0.8);
}

.youtube:hover {
  background: url("../images/sprites.png") no-repeat -750px -270px;
  width: 89px;
  height: 51px;
}

.headerphoto {
  height: 400px;
  width: 400px;
  float: right;
}

button {
  font-weight: bold;
  border: 2px solid white;
  padding: 10px;
  width: 100px;
  height: auto;
  text-align: center;
}

section {
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.header2 {
  text-align: center;
}

.page2cont {
  text-align: center;
}

.redirectbutton2 {
  border: 2px solid white;
  padding: 10px;
  width: 100px;
  height: auto;
  text-align: center;
  margin: 20px auto;
}

.redirectbutton3 {
    border: 2px solid white;
    padding: 10px;
    width: 100px;
    height: auto;
    text-align: center;
    margin-left: 200px;
  }  

.nextsp {
    position: inherit;
}

.nextsp:hover:before {
    width: 0;
}

.track2 {
  float: right;
}

.track3 {
  margin-top: 150px;
}

.images {
  box-sizing: border-box;
  position:inherit;
  float: left;
  width: 25%;
  padding: 5px;
  transition: transform 0.2s;
}

.images:hover {
  transform: scale(1.05);
}

.collage::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border: 2px solid white;
  text-align: center;
}

article {
  text-align: center;
  border: solid 2px white;
  margin: 70px;
  padding: 50px;
  box-sizing: border-box;
}

.headerphoto1 {
  height: 300px;
  width: 400px;
  float: right;
  padding-left: 50px;
}

.center {
    text-align: center;
}
