header {
    background-color: #007196;
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
}

footer {
    background-color: #007196;
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
}

nav {
    float: right;
    max-width: 160px;
    height: 134px;
    padding: 1em;
    border: solid #333;
}

ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    padding-right: 10px;
    color: #c5bd99;
}

a {
    color: #c5bd99;
    text-decoration: none;
}

article {
    padding: 1em;
}

aside {
    float: right;
    width: 200px;
    background-color: lightgray;
    padding: 20px;
    margin-right: 40px;
    font-size: 80%;
    font-style: italic;
    box-shadow: 3px 5px 3px 1px #7e563e;
    position: relative; 
    top:-40px;
}
